# Configuración de Docker Hub (Para tu pipeline de CD)
DOCKER_USER=tu_usuario_de_dockerhub

# Credenciales de la Base de Datos (Locales y seguras dentro de Docker)
SPRING_DATASOURCE_USERNAME=solicitudes_prod_user
# Meté un hash o contraseña robusta acá:
SPRING_DATASOURCE_PASSWORD=Seguridad_Univalle_2026_$%
SPRING_DATASOURCE_DB=solicitudes_db

# Credenciales de Redis
REDIS_PASSWORD=Redis_Secure_Pass_2026!

# Otras variables que consuma tu seguridad interna si aplica (Ej. JWT)
JWT_SECRET_KEY=tu_clave_secreta_super_larga_para_firmar_tokens