# =====================================================================
# GRADLE (Asegurando el Wrapper para GitHub Actions)
# =====================================================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =====================================================================
# CONFIGURACIONES LOCALES Y SECRETOS (CRÍTICO PARA CD)
# =====================================================================
.env
# Bloquear archivos de configuración locales que tengan credenciales de BD/AWS
application-dev.yml
application-test.yml
application-local.yml

# Tus llaves .pem para AWS (manteniendo el .gitkeep si lo necesitas)
docker/keys/*.pem
!docker/keys/.gitkeep

# =====================================================================
# IDEs (IntelliJ, VS Code, etc.)
# =====================================================================
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
*.swp
.DS_Store

# =====================================================================
# LOGS Y TEMPORALES
# =====================================================================
*.log
logs/

# Maven (Legacy por si acaso)
target/